.card {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-width: 280px;
  border-top: 1px solid @decor-gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card__link-title {
  text-decoration: none;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @extra-dark-gray;
  width: 80px;
  margin: 0 0 18px;
}

.card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.card__image {
  display: block;
  padding: 0;
  margin: auto;
}

.card__table {
  width: 142px;
  height: 44px;
  margin: 0;
  padding: 0;
  grid-column: 3 / -1;
  grid-row: 2 / 3;
}

.card__property {
  text-align: left;
  margin: 0;
  padding: 0;
}

.card__value {
  text-align: right;
  margin: 0;
  padding: 0;
}

.card__row {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
}

.card__button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin: 22px 0 0;
}

@media (min-width: @tablet-width) {
  .card {
    padding: 0 36px 39px;
    min-width: 324px;
    height: 511px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: @light-gray;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin: 34px 0 21px;
  }

  .card__link-image {
    order: -1;
  }

  .card__table {
    width: 250px;
    border-collapse: collapse;
  }

  .card__row {
    font-size: 16px;
    border-bottom: 1px solid @table-border-gray;
  }

  .card__property {
    padding: 7px 0 9px;
  }

  .card__value {
    padding: 7px 0 9px;
  }

  .card__button {
    min-width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    min-width: 245px;
    max-width: 245px;
  }

  .card__table {
    width: 169px;
  }

  .card__button {
    min-width: 168px;
  }
}
