.catalog {
  margin: 0;
  border-top: 1px solid @catalog-gray;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 20px 40px;
  grid-column: 1 / -1;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.catalog__show-all {
  margin: 0;
  padding: 25px 20px;
  box-sizing: border-box;
  border-top: 1px solid @catalog-gray;
  border-bottom: 1px solid @catalog-gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 208px;

  &::before,
  &::after {
    position: absolute;
    top: 37px;
    content: "";
    width: 30px;
    height: 2px;
    background-color: @decor-gray;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog__show-all-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @extra-black;
  margin: 53px 0 8px;
  text-align: center;
}

.catalog__show-all-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  margin: 0 0 21px;
  text-align: center;
}

.catalog__show-all-button {
  background-color: @light-gray;
  color: @dark-gray;
  width: 100%;

  &:hover {
    background-color: @catalog-gray;
  }

  &:active {
    color: @opacity-gray;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    border: none;
    margin: 0 30px;
  }

  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 511px);
    grid-gap: 60px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 65px 0 82px;
  }

  .catalog__show-all {
    height: 429px;
    border: 2px solid @light-gray;
    padding: 0 36px 39px;
    align-self: end;

    &::before,
    &::after {
      top: 80px;
      width: 60px;
    }
  }

  .catalog__show-all-title {
    font-size: 20px;
    line-height: 22px;
    width: 135px;
    margin: 161px 0 23px;
    align-self: center;
  }

  .catalog__show-all-text {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 0 87px;
  }

  .catalog__show-all-button {
    min-width: 250px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin: 0 60px;
    padding: 75px 0 0;
  }

  .catalog__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog__title {
    margin: 0 0 84px;
  }

  .catalog__show-all {
    width: 245px;
  }

  .catalog__show-all-title {
    margin: 159px 0 23px;
  }

  .catalog__show-all-button {
    min-width: 169px;
    max-width: 169px;
  }
}

@media (min-width: @desktop-width-max) {
  .catalog {
    margin: 0 auto;
    max-width: 1220px;
  }

  .catalog__wrapper {
    grid-gap: 63px 80px;
  }
}
