.footer {
  background-color: @light-gray;
  margin: 0;
  box-sizing: border-box;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 39px 20px 0;
  box-sizing: border-box;
}

.footer__logo-icon {
  display: block;
  padding: 0;
  margin: 0 0 30px;
}

.footer__logo:hover .footer__logo-icon {
  opacity: 0.8;
}

.footer__logo:active .footer__logo-icon {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .footer {
    min-height: 147px;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 55px 30px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__logo-icon {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    min-height: 149px;
    padding: 0 60px;
  }

  .footer__wrapper {
    padding: 57px 0;
  }
}

@media (min-width: @desktop-width-max) {
  .footer {
    padding: 0 110px;
  }
}
