.header {
  margin: 0;
  box-sizing: border-box;
}

.header__wrapper {
  padding: 10px 20px 18px;
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: relative;
}

.header__logo-icon {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: @mobile-width-only) {
  .header__toggle {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 24px;
    height: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: @basic-white;
  }

  .header__toggle--closed.header__toggle::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: @basic-black;
    box-shadow: 0 8px 0 0 @basic-black, 0 16px 0 0 @basic-black;
  }

  .header__toggle--opened.header__toggle {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: @basic-black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: @tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 30px;
    min-width: 708px;
    min-height: 78px;
  }

  .header__wrapper {
    padding: 0;
    width: 144px;
  }

  .header__toggle {
    display: none;
  }

  .header__logo-icon {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    margin: 0 110px 32px;
    min-height: 112px;
  }

  .header__logo-icon {
    width: 202px;
    height: 59px;
  }
}
