.main-nav {
  font-family: "Oswald Medium", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: @basic-white;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__item {
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid @extra-light-gray;
  text-align: center;
}

.main-nav__item:first-child {
  border-top: 1px solid @extra-light-gray;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-black;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: @mobile-width-only) {
  .main-nav {
    width: 100%;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
    position: absolute;
    top: 66px;
    left: 0;
  }

  .main-nav__no-js {
    display: block;
  }

  .main-nav__link {
    padding: 22px 0 24px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    width: 440px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    border: none;
    margin: 0;
    padding: 0;
  }

  .main-nav__item:first-child {
    border: none;
  }

  .main-nav__link {
    padding: 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
    width: 478px;
  }

  .main-nav__list {
    padding: 0;
  }

  .main-nav__link--contrast {
    color: @basic-white;
  }
}
