.page {
  height: 100%;
}

.page__body {
  font-family: "Oswald Regular", "Roboto", sans-serif;
  background-color: @basic-white;
  color: @basic-black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (max-width: @desktop-width-max) {
  .page {
    overflow-x: hidden;
  }

  .page__body {
    overflow-x: hidden;
  }
}

@media (min-width: @desktop-width-max) {
  .page {
    margin: 0 auto;
  }
}
