.promo {
  background-image: linear-gradient(to bottom, @extra-green 63%, @basic-white 63%), url("../img/mobile/promo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin: 0 0 20px;
  min-width: 320px;
  height: auto;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, @extra-green 60%, @basic-white 60%), url("../img/mobile/promo-mobile@2x.jpg");
  }
}

.promo::before {
  position: absolute;
  right: 0;
  content: "";
  z-index: -5;
  width: 100%;
  height: 302px;
  background-color: @dark-gray;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic-white;
  margin: 25px 0;
  text-align: center;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;
  text-transform: uppercase;
  margin: 0 auto 29px;
  width: 200px;
}

.promo__image {
  display: block;
  padding: 0;
  margin: 0 0 3px;
}

.promo__button {
  min-width: 280px;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .promo {
    margin: 0;
    background: none;
    position: relative;
  }

  .promo::before {
    background-color: @basic-white;
  }

  .promo__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 708px;
    height: 870px;
    align-items: flex-start;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
    width: 415px;
    margin: 62px 81px 41px;
    order: -4;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: left;
    margin: 0 87px 49px;
    width: 285px;
    order: -3;
  }

  .promo__image {
    margin: 0;
    width: 709px;
    height: 609px;
    z-index: -5;
    position: relative;
    top: -80px;
  }

  .promo__button {
    order: -2;
    margin: 0 87px 0;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding: 0;
    margin: 0 0 82px;
    height: 535px;
  }

  .promo::before {
    top: -163px;
    right: 0;
    width: 720px;
    height: 696px;
    background-image: linear-gradient(to right, @extra-green 0%, @extra-green 0%), url("../img/desktop/promo-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, @extra-green 0%, @extra-green 0%), url("../img/desktop/promo-desktop@2x.jpg");
    }
  }

  .promo__wrapper {
    margin: 0 60px;
    width: 552px;
    height: 535px;
    flex-wrap: wrap;
  }

  .promo__title {
    margin: 82px 0 40px 80px;
  }

  .promo__text {
    margin: 0 0 52px 80px;
  }

  .promo__button {
    margin: 0 0 0 80px;
  }

  .promo__image {
    margin: 0;
    width: 552px;
    height: 499px;
    top: 0;
    left: -65px;
  }
}

@media (min-width: @desktop-width-max) {
  .promo__wrapper {
    margin: 0 110px;
  }
}
