.slider__img {
  display: block;
  margin: 0 0 15px;
  padding: 0;

  &--skinny {
    display: none;
  }
}

.slider__form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .slider__form {
    width: 210px;
    height: 30px;
  }

  .slider__switch {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    &::before {
      content: "";
      position: absolute;
      cursor: pointer;
      top: 8px;
      left: 62px;
      display: inline-block;
      width: 86px;
      height: 14px;
      border: 1px solid @table-border-gray;
      border-radius: 6px;
    }

    &::after {
      content: "";
      position: absolute;
      cursor: pointer;
      top: 13px;
      left: 68px;
      display: inline-block;
      width: 36px;
      height: 6px;
      background-color: @basic-green;
      border-radius: 6px;
    }
  }
}

.slider__form-button {
  font-family: "Oswald Regular", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  width: 49px;
  text-align: center;
  border: none;
  background-color: none;
  box-sizing: border-box;
}


@media (min-width: @tablet-width) {
  .slider {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0 auto;
    width: 591px;
  }

  .slider__wrapper {
    grid-row: 1 / -1;
    height: 511px;
    margin: 0 0 25px;

    &--fat {
      grid-column: 1 / 2;
      width: 296px;
      overflow: hidden;
    }

    &--skinny {
      grid-column: 2 / -1;
      width: 296px;
      overflow: hidden;
    }
  }

  .slider__img {
    height: 511px;
    margin: 0 auto;
    object-fit: cover;

    &--fat {
      width: 677px;
      object-position: -10px -5px;
    }

    &--skinny {
      width: 545px;
      display: block;
      object-position: -245px 0;
    }
  }

  .slider__form {
    width: 592px;
    height: 40px;
    margin: 0 auto;
  }

  .slider__switch {
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 83px;
      display: inline-block;
      width: 426px;
      height: 6px;
      background-color: @slider-gray;
      border-radius: 6px;
    }

    &::after {
      content: "";
      position: absolute;
      cursor: pointer;
      top: 3px;
      left: 279px;
      display: inline-block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid @table-border-gray;
      background-color: @basic-white;
      background-image: url("../img/common/slider_control.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 8px 8px;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    &:active::after {
      border: 1px solid @basic-green;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }

    &:focus::after {
      border: 3px solid @basic-green;
    }
  }

  .slider__form-button {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 1px;
    margin: 0 5px 0;
    border-bottom: 1px dotted @opacity-black;

    &:hover {
      border-bottom: 1px solid @opacity-black;
    }

    &:active {
      border-bottom: 1px solid @light-gray;
    }

    &:focus {
      outline: 3px solid @basic-green;
      border-bottom: none;
      border-radius: 3px;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    padding: 0;
    margin: 0;
  }
}
