.specials {
  margin: 0 auto;
  min-width: 280px;
  max-width: 708px;
}

.specials__wrapper {
  padding: 20px 20px 50px;
}

.specials__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
}

.specials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 60px);
  grid-gap: 20px 0;
  position: relative;
}

.specials__item {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  position: relative;
  box-sizing: border-box;
  min-width: 280px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    float: left;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.specials__item--first::before {
  background-image: url("../img/common/icon_leaf.svg");
  background-size: 30px 32px;
}

.specials__item--second::before {
  background-image: url("../img/common/icon_tub.svg");
  background-size: 29px 31px;
}

.specials__item--third::before {
  background-image: url("../img/common/icon_eat.svg");
  background-size: 25px 30px;
}

.specials__item--forth::before {
  background-image: url("../img/common/icon_alarm.svg");
  background-size: 32px 33px;
}

.specials__text {
  margin: 0;
  padding: 4px 0 0 80px;
}

@media (min-width: @tablet-width) {
  .specials {
    margin: 0 auto;
    padding: 0 30px;
    border-bottom: 1px solid @decor-gray;
    max-width: 1220px;
  }

  .specials__wrapper {
    padding: 40px 0 10px;
  }

  .specials__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px;
  }

  .specials__list {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 280px);
    grid-gap: 37px 135px;
    padding: 0 0 36px;
  }

  .specials__item {
    height: 280px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 151px 0 57px 0;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 115px;
      z-index: -2;
      font-family: "Oswald Regular", "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: @light-gray;
    }
  }

  .specials__item--first::after {
    content: "1";
  }

  .specials__item--second::after {
    content: "2";
  }

  .specials__item--third::after {
    content: "3";
  }

  .specials__item--forth::after {
    content: "4";
  }

  .specials__text {
    padding: 0;
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .specials {
    margin: 0 60px 26px;
    padding: 0;
    border-bottom: none;
  }

  .specials__wrapper {
    margin: 31px 0 0;
    padding: 41px 0 0;
  }

  .specials__list {
    grid-template-columns: 230px 245px 245px 250px;
    grid-template-rows: 280px;
    grid-gap: 0 70px;
    padding: 0;
  }
}

@media (min-width: @desktop-width-max) {
  .specials {
    margin: 0 auto 26px;
    max-width: 1220px;
  }

  .specials__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 80px;
  }

  .specials__item {
    min-width: 245px;
  }
}
