.stats {
  margin: 0 auto 10px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0 32px;
  min-width: 280px;
  min-height: 70px;
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-align: center;
  padding: 15px 0;
  grid-row: 1 / 2;
  text-transform: uppercase;
  border: 1px solid @table-border-gray;
  border-radius: 3px;
}

.stats__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @dark-gray;
  text-align: center;
  justify-self: center;
  margin: 0;
  padding: 0;
  width: 80px;
  grid-row: 2 / -1;
  background-color: @light-gray;
  position: relative;
  top: -8px;
}


@media (min-width: @tablet-width) {
  .stats {
    margin: 0;
    grid-gap: 0 42px;
    width: 366px;
  }

  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }

  .stats__description {
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;

    &:first-of-type {
      width: 120px;
    }

    &:last-of-type {
      width: 150px;
    }
  }
}

@media (min-width: @desktop-width) {
  .stats {
    grid-template-columns: repeat(2, 162px);
  }

  .stats__description {
    background-color: @light-gray;
  }
}
