.main-nav {
  font-family: "Oswald Medium", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  padding: 22px 0 24px;
  min-width: 320px;
  border-bottom: 1px solid @extra-light-gray;
  text-align: center;
}

.main-nav__item:first-child {
  border-top: 1px solid @extra-light-gray;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-black;
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__item {
    min-width: 0;
    margin-left: 30px;
    border: none;
  }

  .main-nav__item:first-child {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__link {
    color: @basic-white;
  }
}
